.reform-file {
  @apply block border border-gray-200 shadow-sm rounded-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 cursor-pointer
    file:border-0
    file:cursor-pointer
    file:bg-gray-100 file:mr-4
    dark:file:bg-gray-700 dark:file:text-gray-400 w-1/2;
}

.reform-file-sm {
  @apply file:py-2 file:px-4;
}

.reform-file-md {
  @apply file:py-3 file:px-4;
}

.reform-file-lg {
  @apply file:py-5;
}
